@import '~iview/src/styles/index.less';

// Here are the variables to cover, such as:
@primary-color: #5bc0be;
@background-color-base :#5bc0be;
@border-radius-base: 6px;
@border-color-base: #5bc0be;
@link-hover-color:#5bc0be;
@link-color: #3b94d9;
@btn-border-radius: 6px;
@animation-time: 0.1s;
@transition-time: 0.1s;
@input-bg:#fcfcfc;